.user-container-fluid {
 margin-top: 5px;
}

.title-dashboard {
 font-size: 20px;
 font-weight: 600;
 margin-bottom: 20px;
 margin-top: 20px;
 text-align: center;
}

.users-actions {
 margin-bottom: 20px;
 display: flex;
 gap: 10px;
 align-items: center;
}

.search-wrapper {
 position: relative;
 display: inline-block;
 width: 100%;
}

.search-icon {
 position: absolute;
 right: 10px;
 top: 50%;
 transform: translateY(-50%);
 color: #888;
 pointer-events: none;
 font-size: 16px;
}

.search-input {
 width: 100%;
 padding: 10px 35px 10px 10px; /* ruang kanan buat ikon */
 height: 40px;
 font-size: 14px;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
}
.suggest-list {
 position: absolute;
 top: 100%;
 left: 0;
 right: 0;
 z-index: 10;
 background: rgb(110, 110, 110);
 border: 2px solid #6bcc62;
 border-radius: 5px;
 border-top: none;
 max-height: 200px;
 overflow-y: auto;
 padding: 0;
 margin: 0;
 list-style: none;
}

.suggest-list li {
 padding: 8px 12px;
 cursor: pointer;
}

.suggest-list li:hover {
 background-color: #52922c5d;
}

.no-result {
 padding: 8px 12px;
 color: gray;
 font-style: italic;
}
.select-wrapper {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 margin-bottom: 10px;
}

.marker-toggle-label {
 display: flex;
 flex-wrap: wrap;
 align-content: center;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 background: #ededed;
 border: 2px solid;
 padding-right: 5px;
 padding-left: 5px;
}

label {
 display: flex;
 flex-wrap: wrap;
 align-content: center;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

select {
 width: 200px;
 height: 30px;
 align-items: center;
 display: flex;
 border: 2px solid;
 /* margin: 0px 0px; */
}

.table-wrapper {
 background-color: #ffffff;
 padding: 10px;
 margin-top: 10px;
}

.pagination-controls {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 0px;
 gap: 50px;
 border: 1px solid #818181;
 background-color: #00000011;
}

.pagination-button {
 padding: 5px 20px;
 font-size: 12px;
 border: 1px solid #818181;
 border-radius: 4px;
 cursor: pointer;
 background-color: #ffffff;
 color: #000000;
 transition: background-color 0.3s ease;
}

.pagination-button:hover {
 background-color: #000000;
 color: #ffffff;
}

.map-container-peta {
 background-color: #ffffff;
 padding: 10px;
 margin-top: 10px;
}

.map-view {
 height: 600px;
 border: 2px solid #000;
}

.leaflet-popup-content-wrapper {
 text-align: center;
}
.title-peta {
 font-size: 20px;
 font-weight: bold;
 text-align: center;
}
.legend-wrapper {
 background-color: rgb(175, 175, 175);
 padding: 10px;
 margin-top: 10px;
}
.legend-title {
 font-size: 20px;
 font-weight: bold;
 text-align: center;
 margin-top: 0px;
}
.legend {
 display: flex;
 flex-wrap: wrap;
 align-items: stretch;
 justify-content: flex-start;
 gap: 10px;
 align-items: center;
 align-content: center;
 margin-left: 10px;
}
.legend-item {
 display: flex;
 align-items: center;
 gap: 8px;
 background: #f3f3f3;
 padding: 6px 10px;
 border-radius: 6px;
 font-size: 14px;
}
.legend-grid {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 1.5rem;
}

.legend-column {
 display: flex;
 flex-direction: column;
}

.legend-item {
 display: flex;
 align-items: center;
 gap: 0.5rem;
 margin-bottom: 6px;
}

.legend-subtitle {
 font-weight: bold;
 margin-bottom: 0.5rem;
 font-size: 14px;
}

.color-box-jalur {
 width: 20px;
 height: 3px;
 background-color: rgb(0, 0, 0);
 display: inline-block;
 border-radius: 3px;
}
.color-box-jejak {
 width: 20px;
 height: 3px;
 background-color: rgb(255, 0, 0);
 display: inline-block;
 border-radius: 3px;
}
