.header {
 display: flex;
 align-items: center;
 justify-content: center; /* ini yang bikin posisinya ke tengah */
 gap: 1rem;
 background: #0C1D24;
 color: #ffffff;
 padding-top: 1px;
 padding-bottom: 1px;
 border-bottom: solid 5px #99c983;
}

.header-right {
 display: flex;
 position: absolute;
 right: 20px;
 align-items: center;
 justify-content: center;
 align-content: center;
 flex-wrap: wrap;
 flex-direction: row;
}

.identicon-header {
 display: flex;
 border-radius: 5%;
 width: 120px;
 border: 2px solid #ffffff;
 background-color: #f7f7f7;
 color: #000000;
 flex-direction: column;
 align-content: center;
 justify-content: space-between;
 align-items: center;
 font-size: medium;
 font-weight: 700;
 cursor: pointer;
 margin: 0 -10px;
}

.identicon-top {
 display: flex;
 flex-direction: row-reverse;
 align-items: center;
 gap: 5px;
}
.identicon-header-username {
 color: #000000;
 font-size: medium;
 text-align: center;
}

.logout-text {
 font-size: 12px;
 font-weight: bold;
 text-align: center;
 width: 100%;
 margin-top: 10px;
 background-color: #000000;
 color: red;
}

.notification-wrapper {
 position: relative;
 margin-right: 20px;
 padding: 14px; /* ✅ kurangi padding */
 cursor: pointer;
 background: #ffffff;
 border-radius: 10px;
 display: inline-block; /* ✅ penting agar posisi badge tepat */
}

.bell-icon {
 font-size: 25px;
 color: #333;
 padding: 10px; /* opsional biar klik area lebih besar */
}

.badge {
 position: absolute;
 top: 15px;
 right: 15px;
 background-color: red;
 color: white;
 border-radius: 50%;
 padding: 2px 6px;
 font-size: 10px;
 font-weight: bold;
}
